.select-boxs-container {
  width: 332px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  z-index: 13;
}

.bounce-enter-active {
  animation: bounce-in 0.3s;
  transition: all 0.3s ease;
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
  transition: all 0.3s ease;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
