.review-form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .review-submit-btn {
    position: absolute;
    bottom: calc(52px + 12px);
    right: 24px;
  }
}

.content-area {
  width: 90%;
  height: 244px;
  resize: none;
  outline: 0;
  border: 1px solid var(--main-gray);
  border-radius: 20px 20px 0px 0px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  &:focus {
    box-shadow: 0px 0px 3px var(--main-gray);
  }
}

.file-wrapper {
  width: 90%;
  height: 52px;
  border: 1px solid var(--main-gray);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  &:focus-within {
    border: 1px solid var(--light-black);
  }
}

.file-label {
  position: absolute;
  top: calc(50% - 24px);
  right: 12px;
}

.imgs-basket {
  width: 100%;
}
