.review-card-wrapper {
  width: 100%;
  height: fit-content;
  border: 1px solid red;
  border-bottom: 1px solid var(--main-gray);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.review-card-container {
  width: 90%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .texts-wrapper {
    p:nth-of-type(1) {
      height: 32px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .review-card-user-nickname {
    font-size: 16px;
    font-weight: 700;
  }
  .review-card-user-emotion {
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 12px;
    padding: 4px;
    font-size: 12px;
  }
  .review-card-create-time {
    font-size: 14px;
  }
  .review-card-user-content {
  }
}

.review-card-imgs-wrapper {
  width: 90%;
  display: flex;
  & > img {
    width: 100%;
    aspect-ratio: 9 / 16;
    border: 1px solid black;
  }
}
