#search-input-wrapper {
  width: clamp(496px, 25%, 1024px);
  height: 48px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px var(--sub-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-gray);
  input {
    width: 90%;
    height: 100%;
    border-radius: 20px;
  }
}

#search-input-wrapper:hover {
  box-shadow: 0px 0px 5px var(--main-gray);
}
