#search-input-wrapper {
  width: clamp(496px, 25%, 1024px);
  height: 48px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px var(--sub-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-gray);
  background-color: white;
  input {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    padding-left: 12px;
  }
  z-index: 13;
  @media (max-width: 768px) {
    width: 276px;
  }
}

#search-input-wrapper:hover {
  box-shadow: 0px 0px 5px var(--main-gray);
}

.bounce-enter-active {
  animation: bounce-in 0.3s;
  transition: all 0.3s ease;
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
  transition: all 0.3s ease;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
