.card-side-bar-wrapper {
  height: calc(100vh - 120px);
  width: 384px;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateX(0%);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 3px var(--main-gray);
  z-index: 11;
}

.cards-container {
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
  box-shadow: 0px 0px 2px var(--light-black);
  padding: 0;
  z-index: 11;
}

.show {
  transform: translateX(0%);
}

.hidden {
  transform: translateX(-100%);
}

.card-side-bar-container {
  position: relative;
  align-self: right;
  & > button {
    position: absolute;
    top: calc(50vh - 120px);
    right: -22px;
    border: none !important;
    border-radius: 0px 12px 12px 0px;
    font-size: 16px;
    &:hover {
      box-shadow: 0px 0px 0px 0.1px var(--light-black);
    }
  }
}
