main {
  position: relative;
}

#map {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--main-gray);

  // -------------------------
  font-size: 36px;
  font-weight: 700;
  // -------------------------
}
