.drop-wrapper {
  all: unset;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 3px var(--sub-gray);
  border-radius: 6px;
  border: 1px solid var(--main-gray);
  color: var(--dark-gray);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 5px var(--main-gray);
  }
  font-weight: 900;
}

.drop-container {
  min-width: 100%;
  height: calc(32px * 7.5);
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: white;
  transition: height 0.3s ease-in-out;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 0px 3px var(--main-gray);
}

.custom-option,
.placeholder {
  min-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
}

.placeholder {
  font-weight: 900;
}

.custom-option {
  border-bottom: 1px solid var(--sub-gray);
}

.drop-container > div {
  border-top: 1px solid var(--light-gray);
}

.placeholder {
  box-shadow: 0px 0px 3px var(--sub-gray);
}
