.drop-box-wrapper {
  position: absolute;
  height: fit-content;
  top: 52px;
  right: 0;
  border: 1px solid var(--main-gray);
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
  z-index: 12;
  & > a {
    font-weight: 600;
  }
}
