.marker-wrapper {
  width: fit-content;
  min-width: none;
  height: 38px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid var(--main-blue);
  padding: 0px 12px 0px 4px;

  display: flex;
  align-items: center;
  gap: 8px;

  &::after {
    position: absolute;
    bottom: -3px;
    left: 12px;
    width: 8px;
    height: 8px;
    transform: rotate(55deg) skew(17deg);
    content: "";
    background-color: white;
    border-bottom: 1px solid var(--main-blue);
    border-right: 1px solid var(--main-blue);
  }
  .infos-container-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .star-point-wrapper {
    height: 50%;
    position: relative;
  }
}

.content-type-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.star-point-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2;
  background: no-repeat center 50% url("../../assets/imgs/star.svg");
}

.star-point-text {
  font-size: 12px;
  color: var(--sub-black);
  position: absolute;
  top: 0;
  left: 20px;
}

.title-basket {
  width: 96px;
  color: var(--main-black);
  font-size: 14px;
  font-weight: 900;
  height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 8px;
}

.food-attraction {
  background: no-repeat center 50% var(--main-blue) url("../../assets/imgs/food.svg");
}

.tourism-attraction {
  background: no-repeat center 50% var(--main-blue) url("../../assets/imgs/tourism.svg");
}
.culture-attraction {
  background: no-repeat center 50% var(--main-blue) url("../../assets/imgs/culture.svg");
}
.festival-attraction {
  background: no-repeat center 50% var(--main-blue) url("../../assets/imgs/festival.svg");
}
.accommodation-attraction {
  background: no-repeat center 50% var(--main-blue) url("../../assets/imgs/accommodation.svg");
}
